.list_auth_wid {
    display: inline;
    background-color: #ffff5c;
    color: #9b9b42;
    padding: 13px;
    border-radius: 20px;
}

fieldset{-webkit-user-select:none;-moz-user-select:-moz-none;
    -ms-user-select:none;user-select:none}

.list_auth_wid:hover {
    cursor: pointer;
}

.absolute {
    position: fixed;
}

.no_change {
    background-color: #ffd45c;
    color: #b39441;
    cursor: inherit !important;
}

ul {
    margin-left: 20px
}

li {
    padding: 15px;
    margin-bottom: 10px;
    ;
}

fieldset {
    display: inline;
    vertical-align: top;
    width: 40%;
    height: 315px;
    background-color: #fff384;
    
    margin-left: 5%;
    border-radius: 10px;
}

legend {
    padding-top: 60px;
}

ul {
    background-color: #fff495;
    width: 300px;
    height: 275px;
    padding-top: 10px;
    overflow-y: auto;
    border-radius: 10px;
}

#auth_container {
    min-width: 500px;
    height: 375px;
}