
<div [formGroup]="taskTree">
    <div *ngIf="h === 0" id="timer">
        <fieldset class="date_time_evt">
            <legend>{{ 'time_table.Begin' | translate }}</legend>
            <mat-form-field id="date_begin" appearance="fill">
                <mat-label>{{ 'main.The' | translate }}</mat-label>
                <input type="date" formControlName="date_begin" matInput>
            </mat-form-field>
            <mat-form-field id="time_begin"  appearance="fill">
                <mat-label >{{ 'main.at' | translate }}</mat-label>
                <input type="time" formControlName="time_begin" matInput>
            </mat-form-field>
        </fieldset>
    </div>
    <div class="taskLine">
        <div class="" [ngClass]="{'invisible': !(taskTree.get('children')?.length > 0), taskLineContent: true}">
            <mat-icon *ngIf="children_are_deployed" (click)="children_are_deployed = !children_are_deployed">expand_less</mat-icon>
            <mat-icon *ngIf="!children_are_deployed" (click)="children_are_deployed = !children_are_deployed">expand_more</mat-icon>
        </div>
        <mat-form-field class="taskLineContent" *ngIf="is_editable" appearance="fill">
            <mat-icon matPrefix>done_outline</mat-icon>
            <input matInput
                    formControlName="name"
                    placeholder="Une tache"
                    (focus)="onNameFocus($event)">
        </mat-form-field>
        <div class="taskLineContent">
            <mat-icon (click)=OnAddClicked()>add</mat-icon>
            <mat-icon *ngIf="h > 0" (click)=OnRemoveClicked()>cancel</mat-icon>
        </div>
        
    </div>
    
    <!--<div *ngIf="!is_editable">{{ taskTree.get('name')?.value }}</div>-->
    <!--<mat-icon (click)="is_editable = !is_editable" >check_circle_outline</mat-icon>-->
    
    
    
    <ul formArrayName="children" [ngClass]="{'ghost': !children_are_deployed }">
        <li *ngFor="let child of task.controls; let i = index">
            <app-task [taskTree]="child" [h]="h + 1" [childIndex] = "i" (taskToDeleteEvent)="OnTaskToDeletEventRecieve($event)"></app-task>
        </li>
    </ul>
</div>