table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff38a;
    
}

#table-container {
    width: calc(100% - 50px);
    margin: auto;
    margin-top: 50px;
    height: 600px !important;
    overflow-y: scroll;
}
tr {
 height: 60px;
}

td, th {
    vertical-align: middle;
    text-align: center;
    border: 1px solid #e6e689;
    
}

th {
    position: sticky;
    top: 0;
    background-color: #fff38a;
}

.hour {
    vertical-align: super;
}