

#name {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}

li {
    list-style-type: disc;
}

mat-dialog-content {
    height: 180px;
    overflow-y: auto;
}

mat-dialog-actions {
    margin-left: 540px;
}

input[type=button] {
    margin-left: 30px;
}