<div [formGroup]="message_event">  
    <fieldset class="date_time_evt">
        <legend>{{ 'time_table.voice_reminder' | translate }}</legend>
        <mat-form-field  appearance="fill">
            <mat-label>{{ 'main.Name' | translate }}</mat-label>
            <mat-select formControlName="device">
                <mat-option value="Alexa">{{ 'time_table.Alexa' | translate }}</mat-option>
                <mat-option value="Google home">{{ 'time_table.Home' | translate }}</mat-option>
                <mat-option value="Siri">{{ 'time_table.Siri' | translate }}</mat-option>
                <mat-option value="Sam">{{ 'time_table.Sam' | translate }}</mat-option>
              </mat-select>
        </mat-form-field>
    </fieldset>
    <div id="timer">
        <fieldset class="date_time_evt">
            <legend>{{ 'time_table.Begin' | translate }}</legend>
            <mat-form-field id="date_begin" appearance="fill">
                <mat-label>{{ 'main.The' | translate }}</mat-label>
                <input type="date" formControlName="date_begin" matInput>
            </mat-form-field>
            <mat-form-field id="time_begin"  appearance="fill">
                <mat-label >{{ 'main.at' | translate }}</mat-label>
                <input type="time" formControlName="time_begin" matInput>
            </mat-form-field>
        </fieldset>
    </div>
    
    <fieldset id="infos">
        <legend>{{ 'time_table.Infos' | translate }}</legend>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'time_table.label' | translate }}</mat-label>
            <input type="text" formControlName="label" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'time_table.sentance' | translate }}</mat-label>
            <textarea formControlName="sentance"  matInput></textarea>
        </mat-form-field>
    </fieldset>
</div>
