
<h1 mat-dialog-title>{{'time_table.New_event' | translate}}</h1>

<form [formGroup]="newEventForm" (ngSubmit)="onSubmit($event)">
    <mat-dialog-content>
    <mat-form-field id="type_field" appearance="outline">
        <mat-label>{{ 'main.Type' | translate }}</mat-label>
        <mat-select formControlName="type">
            <mat-option value="voice_reminder">{{ 'time_table.voice_reminder' | translate }}</mat-option>
            <mat-option value="event">{{ 'time_table.event' | translate }}</mat-option>
            <mat-option value="task">{{ 'time_table.task' | translate }}</mat-option>
          </mat-select>
    </mat-form-field>
    <div>
        <div class="coll_evt">
            <fieldset id="type" [className]="active_tab === 'type' ? '' : 'ghost'">
                <legend>{{ 'time_table.Type' | translate }}</legend>
            </fieldset>
            <app-event-message *ngIf="newEventForm.get('type')?.value === 'voice_reminder'" [event]="newEventForm"></app-event-message>
            <app-event *ngIf="newEventForm.get('type')?.value === 'event'" [event]="newEventForm"></app-event>
            <app-task *ngIf="newEventForm.get('type')?.value === 'task'" [event]="newEventForm"></app-task>
        </div>
        <div class="coll_evt">
            <fieldset  id="repeater">
                <legend>{{ 'time_table.Repeater' | translate }}</legend>
                <mat-checkbox formControlName="is_usual" >{{ 'time_table.This event is usual' | translate }}</mat-checkbox>
                <app-repeater *ngIf="newEventForm.get('is_usual')?.value" [event]="newEventForm"></app-repeater>
            </fieldset>
            
        </div>
    </div>
    <pre>{{ newEventForm.value | json }}</pre>
</mat-dialog-content>
<mat-dialog-actions>
    <input type="submit" value="{{ 'time_table.add event' | translate }}"/>
</mat-dialog-actions>
</form>



